
@{
    ViewBag.Title = "display";
}

<body>
    <img src="~/Content/images/export-map-share.png" style="background-size: 100% 100%; background-attachment:fixed; overflow:hidden;
    width:100%; height:100%;" />

</body>

