
@{
    ViewBag.Title = "displayFour";
}


<body background="~/Content/images/export-map-share.png" style="background-size:100% 100%; background-attachment:fixed">
    <canvas id="myCanvas" style="background-size:100% 100% "></canvas>
    <script>
        var dim = [document.documentElement.clientWidth, document.documentElement.clientHeight];
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        c.width = dim[0];
        c.height = dim[1];
        var IntervalTime = @Session["time"] * 1000
        var lastLon;
        var lastLat;
        var flag = 0;
        var i = 1;
         myTimer = (function () {
             var bla = "@Url.Action("GetLonLat")";
          $.post("@Url.Action("GetLonLat")").done(function (xml) {
            var xmlDoc = $.parseXML( xml ),
                $xml = $(xmlDoc),
            lon = $xml.find("Lon").text();
            lat = $xml.find("Lat").text();
            lon = parseFloat(lon);
            lat = parseFloat(lat);
            var x;
            var y;

            x = (c.width / 360);
            x = x * (lon + 180);

            y = (c.height / 180);
            y = y * (lat - 90);

            x = Math.abs(x);
            y = Math.abs(y);

            newlon1 = x;
            newlat1 = y;
         
            if (flag == 0) {
                flag = 1;
                ctx.beginPath();
                ctx.arc(newlon1, newlat1, 6, 0, 2 * Math.PI);
                ctx.fillStyle = 'red';
                ctx.fill();
                ctx.stroke();
                ctx.closePath();
                lastLat = newlat1;
                lastLon = newlon1;
             
            } else {
                //alert(newlat1)
                //alert(newlon1)
                //alert(lastLat)
                //alert(lastLon)
                ctx.beginPath();
                ctx.lineWidth = 2;
                ctx.moveTo(lastLon, lastLat);
                ctx.lineTo(newlon1, newlat1 );
                lastLat = newlat1;
                lastLon = newlon1;
                ctx.strokeStyle = "red";
                ctx.stroke();
                ctx.closePath(); 
              
            }
           
        });
    });

    setInterval(myTimer, IntervalTime);
    myTimer();

    </script>

</body>