
@{
    ViewBag.Title = "display";
}

<body background="~/Content/images/export-map-share.png" style="background-size:100% 100%; background-attachment:fixed">
    <canvas id="myCanvas" style="background-size:100% 100% "></canvas>
    <script>
        var dim = [document.documentElement.clientWidth, document.documentElement.clientHeight];
        var c = document.getElementById("myCanvas");
        c.width = dim[0];
        c.height = dim[1];
        var lon = @ViewBag.Lon;
        var lat = @ViewBag.Lat;
        alert(lon);
        alert(lat);
        var x;
        var y;
        x = (c.width / 360);
        x = x * (lon + 180);
        y = (c.height / 180);
        y = y * (lat - 90);
        x = Math.abs(x);
        y = Math.abs(y);
        lonNorm = x;
        latNorm = y;
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.arc(lonNorm, latNorm, 6, 0, 2 * Math.PI);
        ctx.fillStyle = 'red';
        ctx.fill();
        ctx.stroke();
        ctx.closePath();

    </script>


</body>

